<!DOCTYPE html>
<html lang="ro">
<%- include('../fragmente/head') %>
<body>
    <%- include('../fragmente/header') %>
    <main style="padding: 50px;">
        <h2>Povestea MABFragrance</h2>
        <p>Am început această pasiune din dorința de a aduce cele mai fine esențe mai aproape de tine...</p>
        </main>
    <%- include('../fragmente/footer') %>
</body>
</html>