:root {
    /* Variabile cerute pentru valori care se repetă în reset */
    --reset-spatiere: 0;
    --font-fix-baza: 16px;
    --grosime-bold: 700;
    --stil-italic: italic;
}

/* 1. Resetarea spațierilor și a box-model-ului */
*, *::before, *::after {
    margin: var(--reset-spatiere);
    padding: var(--reset-spatiere);
    box-sizing: border-box;
}


html, body {
    font-size: var(--font-fix-baza); /* 16px fix */
}


h1 { font-size: 2.5rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.3rem; }
p, a, span, li, td, th, caption, button { 
    font-size: 1rem; 
}

/*Am  Redefinit stilurile bold și italic */
b, strong {
    font-weight: var(--grosime-bold);
}
i, em {
    font-style: var(--stil-italic);
}

/* 5. am redefinit listele (eliminarea bullet-urilor default) */
ul, ol {
    list-style: none;
}

/* 6. am redefinit stilul de bază pentru tabele */
table {
    border-collapse: collapse;
    border-spacing: var(--reset-spatiere);
}