<footer id="contact">
    <a href="#top">Mergi sus</a>

    <address>
        Telefon: <a href="tel:+40721111111">0721111111</a><br>
        Strada Parfumurilor 10<br>
        București<br>

        <a href="https://www.google.com/maps/place/Facultatea+de+Matematică+și+Informatică/@44.4450299,26.1590576,15z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI2MDMxOC4xIKXMDSoASAFQAw%3D%3D" target="_blank">
            Vezi locația
        </a><br>
         <i class="fa-solid fa-envelope"></i> test@gmail.com 
        <br>
        <a href="https://wa.me/40721111111">WhatsApp</a>
    </address>

    <small>
        © <time datetime="2026-03-22">22 martie 2026</time>
    </small>

    <p class="banner-scolar">Acesta este un proiect școlar!</p>
</footer>