<head>
    <meta charset="UTF-8">
    <title>MABFragrance</title>
    <meta name="keywords" content="magazin online de parfumuri, MABFragrance, aromă, note, esență, femei, bărbați, unisex, brand Dior, Lancome, ulei esențial, cremă hidratantă, piele, stoc, ofertă, preț, comandă, transport la domiciliu">
    <meta name="description" content="MABFragrance. Esențe fine. Experiente unice. Descoperă parfumurile de lux care definesc eleganța ta. Vă oferim o cumpărare ușoară și plăcută cu descrieri detaliate și consultanță olfactivă.">
    <meta name="author" content="Branzea Malina Alexandra">

    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resurse/ico/favicon-16x16.png">
    <link rel="manifest" href="/resurse/ico/site.webmanifest">
    <link rel="mask-icon" href="/resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/resurse/ico/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/resurse/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="/resurse/css/reset.css"> 
    <link rel="stylesheet" href="/resurse/css/general.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>