<header>
    <h1>Magazin de Parfumuri de Lux</h1>

    <input type="checkbox" id="menu-toggle" class="checkbox-meniu">

    <label for="menu-toggle" class="hamburger-icon">
        <div class="container-bare">
            <span class="bara"></span>
            <span class="bara"></span>
            <span class="bara"></span>
        </div>
    </label>

    <nav>
        <ul class="meniu">
            <li><a href="/despre">Despre Noi</a></li>
            <li class="item-meniu">
                <a href="/">
                    <i class="fa-solid fa-house"></i> 
                    <span class="text-optiune">Acasă</span>
                </a>
                <ul class="submenu">
                    <li><a href="#welcome">Bine ați venit</a></li>
                    <li><a href="#evenimente">Evenimente</a></li>
                    <li><a href="#produse">Produse</a></li>
                </ul>
            </li>

            <li class="item-meniu">
                <a href="#">
                    <i class="fa-solid fa-images"></i> 
                    <span class="text-optiune">Galerii</span>
                </a>
                <ul class="submenu">
                    <li><a href="/statica">Galerie Statică</a></li>
                    <li><a href="/dinamica">Galerie Dinamică</a></li>
                </ul>
            </li>

            <li class="item-meniu">
                <a href="#contact">
                    <i class="fa-solid fa-envelope"></i> 
                    <span class="text-optiune">Contact</span>
                </a>
            </li>
        </ul>
    </nav>
</header>